<nav class="user-account-navside">
    <ul>
        <li><a href="{{ path('product_new') }}"><i class="material-icons icon-align mr-2">add</i> Wystaw Przedmiot</a></li>
        <li><a href="{ { path('user_account_theories') }}"><i class="material-icons icon-align mr-2">list</i> Kupione Przedmioty</a></li>
        <li><a href="{{ path('account_user_auction_list') }}"><i class="material-icons icon-align mr-2">list</i> Moje oferty</a></li>
        <li><a href="{ { path('user_account_theories') }}"><i class="material-icons icon-align mr-2">list</i> Koszyk</a></li>
        <li><a href="{ { path('user_account') }}"><i class="material-icons icon-align mr-2">account_circle</i> Konto</a></li>
    </ul>
</nav>