{% extends 'account/account_template.html.twig' %}

{% block account_body %}
    <div class="row">
        <div class="col-md-12">
            <div class="card card-body">
                <h4 class="mt-2 mb-3 text-center">Zmień swój adres</h4>

                {% include 'purchase/_address_form.html.twig' %}
            </div>
        </div>
    </div>
{% endblock %}