{% extends 'account/account_template.html.twig' %}

{% block account_body %}
    <p class="h4">Twoja oferta została wystawiona. Możesz ją zobaczyć <a href="{{ path('product_show', {'id': productId} )}}">tutaj</a>. Zachęcamy do dalszych sprzedaży.</p>
{% endblock %}