<div class="input-group">
    <input type="text" class="form-control no-border-radius search-input" placeholder="czego szukasz?" aria-label="product name" aria-describedby="button-addon2">
    <select class="form-select search-select-input" aria-label=".form-select-sm example">
        <option selected>Kategorie</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
    </select>
    <button class="btn btn-outline-secondary no-border-radius" type="button" id="button-addon2">Szukaj</button>
</div>