<form method="get" action="{{ path('product_listing') }}">
    <div class="input-group">
        <input type="text" name="product" class="form-control no-border-radius search-input" placeholder="czego szukasz?" aria-label="product name">
        <select class="form-select search-select-input" name="category" aria-label=".form-select-sm">
            <option selected>Kategorie</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
        </select>
        <button class="btn btn-outline-secondary no-border-radius" type="submit">Szukaj</button>
    </div>
</form>