<div class="input-group">
    <input type="text" class="form-control no-border-radius search-input" placeholder="czego szukasz?" aria-label="product name" aria-describedby="button-addon2">
    <button class="btn btn-outline-secondary no-border-radius" type="button" id="button-addon2">Szukaj</button>
</div>