{% extends 'admin/base.html.twig' %}

{% block title %}Admin Panel{% endblock %}

{% block admin_content %}
    <div class="row">
        <div class="col-12 col-sm-6 col-md-4">
            <div class="card card-body text-center mb-4">
                <i class="material-icons admin-icon">people</i>
                <h4 class="mt-2">Użytkownicy: 27</h4>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4">
            <div class="card card-body text-center mb-4">
                <i class="material-icons admin-icon">shop</i>
                <h4 class="mt-2">Aukcje: 912</h4>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4">
            <div class="card card-body text-center mb-4">
                <i class="material-icons admin-icon">shopping_cart</i>
                <h4 class="mt-2">Sprzedaże: 312</h4>
            </div>
        </div>

        <div class="col-12 col-sm-6 col-md-4">
            <div class="card card-body text-center mb-4">
                <i class="material-icons admin-icon">announcement</i>
                <h4 class="mt-2">Ogłoszenia: 217</h4>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4">
            <div class="card card-body text-center mb-4">
                <i class="material-icons admin-icon">attach_money</i>
                <h4 class="mt-2">Przychód: 27 123</h4>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4">
            <div class="card card-body text-center mb-4">
                <i class="material-icons admin-icon">visibility</i>
                <h4 class="mt-2">Wejścia: 16 912</h4>
            </div>
        </div>

        <div class="col-12 col-sm-6 col-md-4">
            <div class="card card-body text-center mb-4">
                <i class="material-icons admin-icon">format_list_numbered</i>
                <h4 class="mt-2">Kategorie: 16</h4>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4">
            <div class="card card-body text-center mb-4">
                <i class="material-icons admin-icon">group_add</i>
                <h4 class="mt-2">Pracownicy: 8</h4>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4">
            <div class="card card-body text-center mb-4">
                <i class="material-icons admin-icon">help</i>
                <h4 class="mt-2">Zgłoszenia: 97</h4>
            </div>
        </div>
    </div> 
{% endblock %}
