.navbar {
    border-bottom-style: solid;
    border-width: 1px;
    border-color: #ddd;
    min-height: 75px;
    background-color: white!important;
}

.navbar-collapse {
    background-color: white!important;
}

body {
    background-color: #f8f9fa!important;
}

.navbar-brand {
    font-size: 1.6rem;
    font-weight: bold;
    letter-spacing: 1.5px;
}

.nav-item.dropdown .nav-link {
    color: black;
}

.nav-item.dropdown .nav-link:hover {
    color: rgba(0, 0, 0, .85)
}

.no-border-radius {
    border-radius: 0px;
}

.auth-button {
    width: 150px;
}

main {
    position: relative;
    min-height: 100vh;
}

.footer-margin {
    padding-bottom: 120px;
}

footer {
    background-color: #546e7a;
    width: 100%;
    color: white;
    padding-top: 1.7rem;
    padding-bottom: 1.7rem;
    bottom: 0px;
    position: absolute;
    height: 80px;
}

.register-link {
    color: inherit;
    text-decoration: none;
}

.register-link:hover {
    color: inherit;
    text-decoration: underline;
}

.login-entice-card > i {
    font-size: 55px;
}

.login-entice-card {
    text-align: center;
}

.no-background-on-active:active {
    background-color: inherit;
}

.search-input {
    width: 300px!important;
}

.search-select-input {
    width: 170px!important;
}

.max-width-100{
    max-width: 100%;
}

.register-error-msg {
    color: #c62828;
}

.vertical-product-image-height {
    height: 168px;
}

.horizontal-product-image-height {
    height: 64px!important;
    min-width: 70%;
}

.product-row-caption {
    font-size: 39px!important;
}

.container-fluid {
    padding-left: 9rem!important;
    padding-right: 9rem!important;
}

.list-style-type-none {
    list-style-type: none;
}

.icon-align {
    vertical-align: text-bottom;
}

.width-100 {
    width: 100%!important;
}

.user-account-navside > ul > li {
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 10px;
    font-size: 1.17rem;
    color: rgb(20, 23, 26);
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 1.3125;
    cursor: pointer;
}

.user-account-navside > ul > li > a {
    padding: 10px 23px;
    color: inherit;
    text-decoration: none;
}

.user-account-navside > ul > li > a:hover {
    background-color: aqua;
    background-color: rgba(29, 161, 242, 0.1);
    border-bottom-left-radius: 9999px;
    border-bottom-right-radius: 9999px;
    border-top-left-radius: 9999px;
    border-top-right-radius: 9999px;
}

.delivery-method-price-input {
    max-width: 100px;
}

.put-up-product {
    min-width: 120px;
}

.no-anchor-styles {
    text-decoration: none;
    color: inherit;
}


.m-pagination li {
    display: inline-block;
    border-radius: 2px;
    text-align: center;
    vertical-align: top;
    height: 30px;
}

.m-pagination li a {
    color: #444;
    display: inline-block;
    font-size: 1.2rem;
    padding: 0 10px;
    line-height: 30px;
    text-decoration: none;
}

.m-pagination li.active {
    background-color: #ee6e73;
}

.m-pagination li.active a {
    color: #fff;
}

m.pagination li i {
    font-size: 2rem;
}

@media(min-width: 1510px) {
    .height-350 {
       height: 350px;
    } 

    .height-320 {
       height: 320px!important;
    }    
}

@media(max-width: 1172px) {
    .container-fluid {
        padding-left: 6rem!important;
        padding-right: 6rem!important;
    }    
}

@media(max-width: 972px) {
    .container-fluid {
        padding-left: 2rem!important;
        padding-right: 2rem!important;
    }    
}