.navbar {
    border-bottom-style: solid;
    border-width: 1px;
    border-color: #ddd;
    min-height: 75px;
    background-color: white!important;
}

.navbar-collapse {
    background-color: white!important;
}

body {
    background-color: #f8f9fa!important;
}

.navbar-brand {
    font-size: 1.6rem;
    font-weight: bold;
    letter-spacing: 1.5px;
}

.nav-item.dropdown .nav-link {
    color: black;
}

.nav-item.dropdown .nav-link:hover {
    color: rgba(0, 0, 0, .85)
}

.no-border-radius {
    border-radius: 0px;
}

.auth-button {
    width: 150px;
}

main {
    position: relative;
    min-height: 100vh;
}

.footer-margin {
    padding-bottom: 120px;
}

footer {
    background-color: #546e7a;
    width: 100%;
    color: white;
    padding-top: 1.7rem;
    padding-bottom: 1.7rem;
    bottom: 0px;
    position: absolute;
    height: 80px;
}

.register-link {
    color: inherit;
    text-decoration: none;
}

.register-link:hover {
    color: inherit;
    text-decoration: underline;
}

.login-entice-card > i {
    font-size: 55px;
}

.login-entice-card {
    text-align: center;
}

.no-background-on-active:active {
    background-color: inherit;
}

.search-input {
    width: 300px!important;
}

.search-select-input {
    width: 170px!important;
}

.max-width-100{
    max-width: 100%;
}

.error-msg {
    color: #c62828;
}

.form-error > ul {
    list-style-type: none;
    padding-left: 0px;
}

.vertical-product-image-height {
    height: 168px;
}

.horizontal-product-image-height {
    height: 64px!important;
    min-width: 70%;
}

.product-row-caption {
    font-size: 39px!important;
}

.container-fluid {
    padding-left: 9rem!important;
    padding-right: 9rem!important;
}

.list-style-type-none {
    list-style-type: none;
}

.icon-align {
    vertical-align: text-bottom;
}

.width-100 {
    width: 100%!important;
}

.user-account-navside > ul > li {
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 10px;
    font-size: 1.17rem;
    color: rgb(20, 23, 26);
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 1.3125;
    cursor: pointer;
}

.user-account-navside > ul > li > a {
    padding: 10px 23px;
    color: inherit;
    text-decoration: none;
}

.user-account-navside > ul > li > a:hover {
    background-color: aqua;
    background-color: rgba(29, 161, 242, 0.1);
    border-bottom-left-radius: 9999px;
    border-bottom-right-radius: 9999px;
    border-top-left-radius: 9999px;
    border-top-right-radius: 9999px;
}

.delivery-method-price-input {
    max-width: 100px;
}

.put-up-product {
    min-width: 120px;
}

.no-anchor-styles {
    text-decoration: none;
    color: inherit;
}

.no-anchor-styles:hover {
    color: inherit;
}

.m-pagination li {
    display: inline-block;
    border-radius: 2px;
    text-align: center;
    vertical-align: top;
    height: 30px;
}

.m-pagination li a {
    color: #444;
    display: inline-block;
    font-size: 1.2rem;
    padding: 0 10px;
    line-height: 30px;
    text-decoration: none;
}

.m-pagination li.active {
    background-color: #ee6e73;
}

.m-pagination li.active a {
    color: #fff;
}

m.pagination li i {
    font-size: 2rem;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.auction-listing-img {
    width: 80px;
    height: 50px;
}

.display-inline {
    display: inline-block!important;
}

.admin-icon {
    font-size: 56px!important;
}

.nav-link {
    color: black!important;
}

.center-div-verticaly {
    display: flex;
    align-items: center;  
}

.delete-forever-icon-color {
    color: #b71c1c;
}

.bg-inherit {
    background: inherit!important;
    border-color: inherit!important;
    border: none;
}

.bg-inherit:focus {
    box-shadow: none;
}

.user-address-data {
    border: 2px solid green;
    padding: 10px;
}

.link-button {
    color: #00a790;
    letter-spacing: 2px;
}

.link-button:hover {
    color: #00a790;
}

.link-color {
    color: #00a790;
}

.bought-product-listing-img {
    height: 100%;
    width: 70px;
}

.z-index-0 {
    z-index: 0;
}

.stripe-section {
    background: #ffffff;
    display: flex;
    flex-direction: column;
    border-radius: 6px;
    justify-content: space-between;
}

.stripe-product {
    display: flex;
}

.stripe-product img {
    border-radius: 6px;
    margin: 10px;
    width: 165px;
    height: 100%;
}

.stripe-product-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.stripe-product-description h3, .stripe-product-description h5 {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.154px;
    color: #242d60;
    margin: 0;
}

.stripe-product-description h5 {
    opacity: 0.5;
}

.checkout-button {
    height: 36px;
    background: #556cd6;
    color: white;
    width: 100%;
    font-size: 14px;
    border: 0;
    font-weight: 500;
    cursor: pointer;
    letter-spacing: 0.6px;
    border-radius: 0 0 6px 6px;
    transition: all 0.2s ease;
    box-shadow: 0px 4px 5.5px 0px rgba(0, 0, 0, 0.07);
}

.opacity-100 {
    opacity: 1!important;
}

.btn-close {
    box-sizing: content-box;
    width: 1em;
    height: 1em;
    padding: .25em .25em;
    color: #000;
    background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 16 16'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") no-repeat center center/1em auto;
    background-clip: content-box;
    border: 0;
    border-radius: .25rem;
    opacity: .5;
}

.no-underline {
    text-decoration: none;
}

.user-message-window-background {
    background-color: #1877F2;
}

.cursor-pointer {
    cursor: pointer;
}

.disable-focus:focus {
    outline: none!important;
}

#checkout-button:hover {
    opacity: 0.8;
}  

#update-user-address-form > div > label {
    font-weight: bolder;
}

.mark {
    box-sizing: border-box;
    position: relative;
    z-index: 10;
    float: left;
    width: 20%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: 1px dotted transparent;
    outline: 0;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0s linear;
}

.mark-radiogroup {
    position: relative;
    display: inline-block;
    width: 105px;
    height: 21px;
    margin-top: -1px;
    overflow: hidden;
    text-indent: -9999px;
    vertical-align: middle;
    background-color: #fff;
    background-image: url('https://assets.allegrostatic.com/metrum/icon/star-empty-ea589602cb.svg');
    background-size: 21px 21px;
    cursor: pointer;
}

.full-mark {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    display: inline-block;
    width: 0;
    height: 100%;
    background-color: #fff;
    background-image: url(https://assets.allegrostatic.com/metrum/icon/star-full-83fe3991e5.svg);
    background-size: 21px 21px;
    transition: width .2s linear;
    pointer-events: none;
}

.gray {
    color: #495057;
}

.mb-0 {
    margin-bottom: 0px!important;
}

.mt-0 {
    margin-top: 0px!important;
}

.icon-medium {
    font-size: 4rem!important; 
}

.hidden {
    display: none;
}

.auction-duration-string {
    font-weight: bold;
    color: #311b92;
}

@media(min-width: 1510px) {
    .height-350 {
       height: 350px;
    } 

    .height-320 {
       height: 320px!important;
    }    
}

@media(max-width: 1172px) {
    .container-fluid {
        padding-left: 6rem!important;
        padding-right: 6rem!important;
    }    
}

@media(max-width: 972px) {
    .container-fluid {
        padding-left: 2rem!important;
        padding-right: 2rem!important;
    }    
}

@media(max-width: 768px	) {
    .sm-mt-1 {
        margin-top: 4px!important;
    }

    .sm-mt-2 {
        margin-top: 8px!important;
    }

    .sm-mt-3 {
        margin-top: 12px!important;
    }

    .sm-mt-4 {
        margin-top: 16px!important;
    }

    .sm-mt-5 {
        margin-top: 20px!important;
    }

    .sm-mb-1 {
        margin-bottom: 4px!important;
    }

    .sm-mb-2 {
        margin-bottom: 8px!important;
    }

    .sm-mb-3 {
        margin-bottom: 12px!important;
    }

    .sm-mb-4 {
        margin-bottom: 16px!important;
    }

    .sm-mb-5 {
        margin-bottom: 20px!important;
    }
}

@media(max-width: 576px) {
    .xs-mt-1 {
        margin-top: 4px!important;
    }

    .xs-mt-2 {
        margin-top: 8px!important;
    }

    .xs-mt-3 {
        margin-top: 12px!important;
    }

    .xs-mt-4 {
        margin-top: 16px!important;
    }

    .xs-mt-5 {
        margin-top: 20px!important;
    }
}