{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-5">
        <p class="h4">Wystąpił problem z płatnością, proszę upewnić się prawidłowości podanych danych i spróbować ponownie.</p>
    </div>
{% endblock %}