{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-5">
        <p class="h4">Przedmiot został kupiony, dziękujemy i zachęcamy do kolejnych zakupów.</p>
    </div>
{% endblock %}