{% extends '@email/default/notification/body.html.twig' %}

{% block content %}
    <p>Twój produkt o nazwie {{ product.name }} został sprzedany. Zobacz wszystkie sprzedane produkty pod tym <a href="#">linkiem</a></p>
{% endblock %}